@model CenedexUniversity.Model.Student

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: white;">Welcome @Model.FirstName  @Model.LastName </h1>
    <p style="color: white;">Your Birthday is: @Model.DateOfBirth</p>
    
</div>
